<h1>Add a new account</h1>

<%= semantic_form_for @account do |f| %>
	
	<%= f.input :name %>
	
	<%= f.input :description %>
	
	<%= f.input :current_balance %>
	
	<%= f.action :submit, as: :button %>
	<%= f.action :cancel, as: :link %>
	
<% end %>